.typing {
    font-size: 5em;
    color: white;
}

span.typing-bar {
    border-right: .6em solid;
    animation: typing-bar 1s steps(1) infinite;
}

@keyframes typing-bar {
    50% {
        border-color: transparent;
    }
}

.typing-pane {
    height: calc(100vh - 56px);
    background-color: green;
}

.small-navbar {
    height: 30px;
}

body {
    padding-top: 56px;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-transition: height 2s linear;
    transition: height 2s linear;
}

.sidebar-nav {
    height: 100vh;
    background-color: red;
    width: 30%;
    right: 0;
    position: fixed;
    top: 100vh;   
}
.sidebar-nav.stick {
    top: 30px;
}